In [1]:
import numpy as np
import pandas as pd

## Q1. Reading the Rounds2, companies.txt files

In [2]:
companies = pd.read_csv('companies.txt',encoding='ISO-8859-1',sep='\t' )
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [3]:
rounds2 = pd.read_csv('rounds2.csv',encoding='ISO-8859-1' )
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

## Q2 . How many unique companies are present in rounds2?

In [4]:
len(rounds2['company_permalink'].unique())

90247

## Q3 . How many unique companies are present in the companies file?

In [5]:
len(companies['permalink'].unique())

66368

## Q4 . Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns to uppercase.

In [6]:
companies['permalink'] = companies['permalink'].str.upper()
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [7]:
rounds2['company_permalink'] = rounds2['company_permalink'].str.upper()
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

## Q5. Are there any companies in the rounds2 file which are not present in companies.txt ?

In [8]:
df1 = pd.DataFrame(rounds2.company_permalink.unique())
df2 = pd.DataFrame(companies.permalink.unique())
df2.equals(df1)

False

## Q6. Merge the two data frames so that all variables (columns) in the company's frame are adde to the rounds2 data frame. Name the merged frame master_dataframe. How many observations are present in master_frame ?

In [9]:
master_dataframe = pd.merge(rounds2 , companies, left_on = 'company_permalink' , right_on= 'permalink', how = 'left')
master_dataframe.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

In [10]:
len(master_dataframe)

114949

## Q7. Write the code to drop the redundant column ‘'company_permalink' from the master_dataframe.

In [11]:
master_dataframe = master_dataframe.drop('company_permalink', axis = 1)
master_dataframe.head()

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

## Q8. Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop unnecessary columns.

In [12]:
(master_dataframe.isnull().sum()/ len(master_dataframe))*100

funding_round_permalink     0.000000
funding_round_type          0.000000
funding_round_code         72.909725
funded_at                   0.000000
raised_amount_usd          17.390321
permalink                   0.064376
name                        0.065246
homepage_url                5.393696
category_list               3.010900
status                      0.064376
country_code                7.578143
state_code                  9.549452
region                      8.873500
city                        8.870891
founded_at                 17.887933
dtype: float64

In [13]:
master_dataframe.drop('funding_round_code', axis = 1)
master_dataframe.drop('founded_at', axis = 1)
master_dataframe.head()

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

## Q9. Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and ‘funding_round_type’ across different funding round categories.

In [14]:
df_pivot = pd.pivot_table(master_dataframe, index=['funding_round_type'], values=['raised_amount_usd'], aggfunc=[np.median,np.mean])
df_pivot

                                 median              mean
                      raised_amount_usd raised_amount_usd
funding_round_type
angel                          400000.0      9.586945e+05
convertible_note               272000.0      1.453439e+06
debt_financing                1100000.0      1.704353e+07
equity_crowdfunding            100000.0      5.383682e+05
grant                          201684.0      4.300576e+06
non_equity_assistance           60000.0      4.112031e+05
post_ipo_debt                19950000.0      1.687046e+08
post_ipo_equity              12262852.5      8.218249e+07
private_equity               20000000.0      7.330859e+07
product_crowdfunding           183915.0      1.363131e+06
secondary_market             32600000.0      7.964963e+07
seed                           275000.0      7.198180e+05
undisclosed                   1018680.0      1.924237e+07
venture                       5000000.0      1.174895e+07

## Q10. Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie between 4 Millions to 15 Millions.

In [15]:
master_dataframe.loc[(master_dataframe['raised_amount_usd']>400000) &
                    (master_dataframe['raised_amount_usd']>1500000)]
master_dataframe.head()

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

## Q11.Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.

In [16]:
master_dataframe =  master_dataframe.loc[master_dataframe['funding_round_type']=='venture']
master_dataframe.head()

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
5,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [17]:
top = pd.DataFrame(master_dataframe.groupby('country_code')['raised_amount_usd'].sum().sort_values(ascending= False).head(9))
top

              raised_amount_usd
country_code
USA                4.225108e+11
CHN                3.983542e+10
GBR                2.024563e+10
IND                1.439186e+10
CAN                9.583332e+09
FRA                7.241142e+09
ISR                6.907515e+09
DEU                6.345560e+09
JPN                3.363677e+09

## Q12. Create the ‘main_category’ column by extracting the first value using the column ‘category_list’.
### Hint - Use the Lambda function or string function.

In [18]:
master_dataframe['main_category'] = master_dataframe['category_list'].str.split('|').str[0].copy()
master_dataframe.head()

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,main_category
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web
5,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,Software

## Q13. Using the user defined function convert the ‘rasied_amount_used’ column into a categorical column as follow
### a) If the amount is less than 5 Millions then recode as TypeA.
### b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB.
### c) If the amount is greater than 7 Millions then recode as TypeC

In [19]:
def categorical_column(value):
    if value < 5000000:
        return 'TypeA'
    elif value > 5000000 and value< 7000000:
        return 'TypeB'
    elif value > 7000000:
        return 'Type C'

master_dataframe['categorical_column'] = master_dataframe['raised_amount_usd'].map(categorical_column)
display(master_dataframe.head(15))

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,main_category,categorical_column
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media,Type C
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms,None
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps,TypeA
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web,TypeA
5,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,Software,None
8,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997,Biotechnology,TypeA
10,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,Analytics,Type C
11,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,03-01-2013,1700000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,Analytics,TypeA
12,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,Analytics,Type C
22,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0,/ORGANIZATION/1-MAINSTREAM,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012,Apps,None
28,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0,/ORGANIZATION/10-MINUTES-WITH,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013,Education,TypeA
33,/funding-round/e07f6e580046d00c7aeb33fafb9d90a3,venture,NaN,22-07-2013,NaN,/ORGANIZATION/1000LOOKZ,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008,Beauty,None
34,/funding-round/502bd0e50c27616995e4bdad24605ef8,venture,A,16-02-2011,2520000.0,/ORGANIZATION/1000MEMORIES,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010,Curated Web,TypeA
38,/funding-round/13be128d655076a025221d7fddc90d68,venture,NaN,14-10-2009,265940.0,/ORGANIZATION/1000MUSEUMS-COM,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008,Curated Web,TypeA
39,/funding-round/6aeb32ab3fc05db2b606d7a2466e8c09,venture,NaN,15-01-2014,2906832.0,/ORGANIZATION/1000MUSEUMS-COM,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008,Curated Web,TypeA

# Additional Questions:

## Q1. How many company have venture or seed funding round type ?

In [20]:
filter1= rounds2['funding_round_type']=='venture'
filter2= rounds2['funding_round_type']=='seed'
len(rounds2[filter1|filter2])

86018

## Q2. In compnaies.text file find the name of company which having folowing url 'http://inovatiff.com'

In [21]:
companies[companies['homepage_url']=='http://www.zznode.com']['name']

66363    ZZNode Science and Technology
Name: name, dtype: object

## Q3. Create a pivot table to show the amount raised by each country in each category.

In [22]:
df_pivot1 = pd.pivot_table(master_dataframe, index=['country_code'] , columns=['categorical_column'], values=['raised_amount_usd'])

In [23]:
df_pivot1

                   raised_amount_usd
categorical_column            Type C         TypeA         TypeB
country_code
ARE                     3.344444e+07  1.883396e+06  5.250000e+06
ARG                     1.953917e+07  1.441140e+06  5.966594e+06
ARM                     1.325875e+07           NaN           NaN
AUS                     1.856014e+07  2.199549e+06  5.841289e+06
AUT                     2.714792e+07  2.268656e+06  5.551386e+06
...                              ...           ...           ...
UKR                              NaN  9.654102e+05           NaN
URY                     1.000000e+07  1.404286e+06           NaN
USA                     2.522696e+07  1.789577e+06  5.928093e+06
VNM                     1.311333e+07  2.135612e+06  5.705000e+06
ZAF                     3.221667e+07  1.655919e+06  5.860000e+06

[97 rows x 3 columns]

## Q4.Companies want to invest in top 2 English speaking countries like USA and IND.Create three separatedata frames D1 and D2 for each of the three countries containing the observations of funding type FT fallingwithin the 10-15 million USD range.The two data frames should contain:
### All the columns of the master_frame along with the primary sector and the main sector
### The total number (or count) of investments for each main sector in a separate column
### The total amount invested in each main sector in a separate column

In [24]:
master_dataframe = master_dataframe[(master_dataframe['country_code'] == 'USA')
                            | (master_dataframe['country_code'] == 'IND')]
master_dataframe.head()

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,main_category,categorical_column
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media,Type C
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms,None
5,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,Software,None
10,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,Analytics,Type C
11,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,03-01-2013,1700000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,Analytics,TypeA

In [25]:
D1 = master_dataframe[(master_dataframe['country_code'] == 'USA') & 
             (master_dataframe['raised_amount_usd'] >= 10000000) & 
             (master_dataframe['raised_amount_usd'] <= 15000000)]

USA = D1[['raised_amount_usd','main_category']].groupby('main_category').agg(['sum', 'count']).rename(
    columns={'sum':'Total_amount','count' : 'Total_count'})

D1 = D1.merge(USA, how='left', on ='main_category')
D1.head()

C:\Users\Pratik\AppData\Local\Temp\ipykernel_8728\4278701465.py:8: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  D1 = D1.merge(USA, how='left', on ='main_category')

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,main_category,categorical_column,"(raised_amount_usd, Total_amount)","(raised_amount_usd, Total_count)"
0,/funding-round/fb6216a30cb566ede89e0bee0623a634,venture,NaN,16-12-2014,11999347.0,/ORGANIZATION/128-TECHNOLOGY,128 Technology,http://www.128technology.com/,Service Providers|Technology,operating,USA,MA,Boston,Burlington,07-07-2014,Service Providers,Type C,3.719935e+07,3.0
1,/funding-round/424129ce1235cfab2655ee81305f7c2b,venture,C,15-10-2013,15000000.0,/ORGANIZATION/1366-TECHNOLOGIES,1366 Technologies,http://www.1366tech.com,Manufacturing,operating,USA,MA,Boston,Bedford,01-01-2007,Manufacturing,Type C,7.385213e+08,61.0
2,/funding-round/82ace97530965cd2be8f262836b43ff5,venture,A,27-03-2008,12400000.0,/ORGANIZATION/1366-TECHNOLOGIES,1366 Technologies,http://www.1366tech.com,Manufacturing,operating,USA,MA,Boston,Bedford,01-01-2007,Manufacturing,Type C,7.385213e+08,61.0
3,/funding-round/b84bb882ca873f5fb96535671981196d,venture,A,16-04-2002,14000000.0,/ORGANIZATION/170-SYSTEMS,170 Systems,http://www.170systems.com,Software,acquired,USA,MA,Boston,Bedford,01-01-1990,Software,Type C,4.878997e+09,411.0
4,/funding-round/8d87f771e938e0f31641bd600abbafca,venture,B,01-09-2013,10000000.0,/ORGANIZATION/17ZUOYE,17zuoye,http://www.17zuoye.com/,Education|Language Learning,operating,USA,VA,VA - Other,Shanghai,01-01-2007,Education,Type C,2.599000e+08,22.0

In [26]:
D2 = master_dataframe[(master_dataframe['country_code'] == 'IND') & 
             (master_dataframe['raised_amount_usd'] >= 10000000) & 
             (master_dataframe['raised_amount_usd'] <= 15000000)]

IND = D2[['raised_amount_usd','main_category']].groupby('main_category').agg(['sum', 'count']).rename(
    columns={'sum':'Total_amount','count' : 'Total_count'})

D2 = D2.merge(IND, how='left', on ='main_category')
D2.head()

C:\Users\Pratik\AppData\Local\Temp\ipykernel_8728\2960852387.py:8: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  D2 = D2.merge(IND, how='left', on ='main_category')

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,main_category,categorical_column,"(raised_amount_usd, Total_amount)","(raised_amount_usd, Total_count)"
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media,Type C,10000000.0,1.0
1,/funding-round/43f871c060118fcdf5316b3bf0797618,venture,B,01-12-2007,15000000.0,/ORGANIZATION/APNALOAN,ApnaPaisa,http://apnapaisa.com,Credit|Finance|Marketplaces,operating,IND,16,Mumbai,Mumbai,01-01-2007,Credit,Type C,15000000.0,1.0
2,/funding-round/29152fc812013ef482c93f6dd47f58ff,venture,NaN,29-06-2006,10000000.0,/ORGANIZATION/APPLABS,AppLabs,http://www.applabs.com,Software,acquired,IND,2,Hyderabad,Hyderabad,01-01-2001,Software,Type C,80800000.0,7.0
3,/funding-round/2a3a5fb06cd92186431fbe8fb6dfd23b,venture,NaN,24-01-2014,12000000.0,/ORGANIZATION/ARIISTO,Ariisto,http://ariisto.com,Real Estate,operating,IND,16,IND - Other,Andheri,01-01-2006,Real Estate,Type C,69400000.0,6.0
4,/funding-round/a3782f52b69e60629bcf7866ca8b1eca,venture,A,29-05-2015,12000000.0,/ORGANIZATION/ATHER-ENERGY,Ather Energy,http://www.atherenergy.com,Automotive|Electric Vehicles,operating,IND,19,Bangalore,Bangalore,01-04-2013,Automotive,Type C,63000000.0,5.0

## Q15. Find the top 5 categories with most amount raised usd for USA and IND respectively.

In [27]:
USA.sort_values(by=('raised_amount_usd','Total_amount'),ascending=False).head()

                    raised_amount_usd
                         Total_amount Total_count
main_category
Biotechnology            7.314424e+09         596
Software                 4.878997e+09         411
Enterprise Software      3.556986e+09         292
Advertising              2.866762e+09         237
Health Care              2.445764e+09         201

In [29]:
IND.sort_values(by=('raised_amount_usd','Total_amount'),ascending=False).head()

              raised_amount_usd
                   Total_amount Total_count
main_category
E-Commerce          218500000.0          17
Mobile              113490000.0          10
Software             80800000.0           7
Analytics            76000000.0           6
Real Estate          69400000.0           6